@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;





